[Interface]
PrivateKey = ${WG_PRIVATE_KEY}
Address = 10.6.0.5/32

[Peer]
PublicKey = tezHSoMwUtu3haXpB5BXFEQ8PlHnS6/EnpRAdGLCCig=
AllowedIPs = 192.168.0.0/16
Endpoint = ${WG_ENDPOINT}
PersistentKeepalive = 25
