#shellcheck disable=SC2148,SC2155
export KUBECONFIG=$(expand_path ~/.kube/config)
export ANSIBLE_CONFIG=$(expand_path ./ansible.cfg)
export ANSIBLE_HOST_KEY_CHECKING="False"
export XDG_CONFIG_HOME=$(expand_path ~/.config)
export TALOSCONFIG=$(expand_path ./provision/talos/clusterconfig/talosconfig)
export SOPS_AGE_KEY_FILE=$(expand_path ~/.config/sops/age/keys.txt)
use_sops() {
    local path=${1}
    eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
}
use_sops ./provision/terraform/secret.sops.yaml
use_sops ./secret.sops.yaml
