#shellcheck disable=SC2148,SC2155
export KUBECONFIG=$(expand_path ~/.kube/config)
export XDG_CONFIG_HOME=$(expand_path ~/.config)
export TALOSCONFIG=$(expand_path ./provision/talos/clusterconfig/talosconfig)
use_sops() {
    local path=${1}
    eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
}
use_sops ./secret.sops.yaml
