#shellcheck disable=SC2148,SC2155
export KUBECONFIG=$(expand_path ~/.kube/config)
export XDG_CONFIG_HOME=$(expand_path ~/.config)
export TALOSCONFIG=$(expand_path ./provision/talos/clusterconfig/talosconfig)
export $(bws secret list 561fda11-77b5-43bd-8192-b3fe00d01958 -o env | xargs)
