app-template:
  defaultPodOptions:
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: cloudflared
  controllers:
    main:
      replicas: 2
      strategy: RollingUpdate
      containers:
        main:
          image:
            repository: docker.io/cloudflare/cloudflared
            tag: 2026.2.0@sha256:404528c1cd63c3eb882c257ae524919e4376115e6fe57befca8d603656a91a4c
          env:
            TUNNEL_LOGLEVEL: debug
            NO_AUTOUPDATE: "true"
            TUNNEL_METRICS: 0.0.0.0:8080
            TUNNEL_TRANSPORT_PROTOCOL: auto
            TUNNEL_TOKEN:
              valueFrom:
                secretKeyRef:
                  name: cloudflared-secret
                  key: token
          args:
            - tunnel
            - run
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /ready
                  port: 8080
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /ready
                  port: 8080
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            startup:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /ready
                  port: 8080
                initialDelaySeconds: 0
                failureThreshold: 30
                periodSeconds: 10
                timeoutSeconds: 1
          resources:
            requests:
              cpu: 6m
              memory: 105Mi
            limits:
              memory: 105Mi
  service:
    main:
      controller: main
      ports:
        http:
          port: 8080
  serviceMonitor:
    main:
      enabled: true
      serviceName: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'
      endpoints:
        - port: http
          scheme: http
          path: /metrics
          interval: 1m
          scrapeTimeout: 30s
