postgres:
  name: home-assistant
  instances: 2
  storage:
    size: 5Gi
  monitoring:
    enablePodMonitor: true
  backup:
    retentionPolicy: "10d"
    barmanObjectStore:
      destinationPath: "s3://k8s-at-home-backup/cnpg/home-assistant"
      endpointURL: <secret:s3_endpoint>
      s3Credentials:
        accessKeyId:
          name: home-assistant-secrets
          key: S3_ACCESS_KEY_ID
        secretAccessKey:
          name: home-assistant-secrets
          key: S3_ACCESS_SECRET_KEY
  scheduledBackups:
    - name: home-assistant-cnpg-backup
      spec:
        immediate: true
        schedule: "52 0 0 * * *"
        backupOwnerReference: self
app-template:
  defaultPodOptions:
    securityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
  controllers:
    main:
      type: statefulset
      strategy: RollingUpdate
      containers:
        main:
          image:
            repository: ghcr.io/home-assistant/home-assistant
            tag: 2024.11.0@sha256:0f357468558aa24858af7470f5942ae740d8472d892e7838111ee0f71110e78b
          envFrom:
            - secretRef:
                name: home-assistant-secret
          resources:
            requests:
              cpu: 10m
              memory: 100Mi
            limits:
              memory: 750Mi
    addons:
      containers:
        codeserver:
          image:
            repository: ghcr.io/coder/code-server
            tag: 4.95.2@sha256:51b9ff106f67bfe56aa88c7e63e7413276d0b509fb85290c3d361a38e97bfa8c
          workingDir: "/config"
          args:
            - --auth
            - "none"
            - --user-data-dir
            - "/config/.vscode"
            - --extensions-dir
            - "/config/.vscode"
  service:
    main:
      controller: main
      ports:
        http:
          port: 8123
    codeserver:
      controller: addons
      ports:
        http:
          port: 8080
  ingress:
    main:
      className: "traefik"
      hosts:
        - host: &host "dom.<secret:private-domain>"
          paths:
            - path: /
              service:
                identifier: main
                port: http
      tls:
        - hosts:
            - *host
    addons:
      className: "traefik"
      hosts:
        - host: "dom-code.<secret:private-domain>"
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: codeserver
                port: http
  persistence:
    config:
      existingClaim: home-assistant-config
