---
app-of-apps:
  project: apps
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/mmalyska/home-ops
    path: cluster/apps
  apps:
    - name: botkube
      enabled: false
      namespace: botkube
      path: botkube
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: calibre
      enabled: false
      namespace: calibre
      path: calibre
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: gitea
      enabled: false
      namespace: gitea
      path: gitea
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: grocy
      enabled: false
      namespace: grocy
      path: grocy
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: hass-proxy
      namespace: hass-proxy
      path: hass
      enabled: false
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: nfs-mounts
      namespace: nfs-mounts
      path: nfs-mounts
      enabled: false
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: qnap-proxy
      namespace: qnap-proxy
      path: qnap-proxy
      enabled: false
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: jellyfin
      namespace: jellyfin
      path: jellyfin
      enabled: true
      selfHeal: false
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: homepage
      enabled: false
      namespace: homepage
      path: gethomepage
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
