apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: cert-manager

# additional resources like ingress rules, cluster and repository secrets.
resources:
  # renovate: datasource=github-releases depName=cert-manager/cert-manager
  - https://github.com/cert-manager/cert-manager/releases/download/v1.11.0/cert-manager.yaml
  - resources/secret.yaml
  - resources/lets-encrypt-dns01-cf.yaml
