---
app-of-apps:
  project: system
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/mmalyska/home-ops
    path: cluster/system
  apps:
    - name: cert-manager
      namespace: cert-manager
      path: cert-manager
      enabled: true
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: cloudflared
      namespace: cloudflared
      path: cloudflared
      enabled: true
      selfHeal: true
    - name: cloudnative-pg
      namespace: cnpg
      path: cloudnative-pg
      enabled: true
      selfHeal: true
      extraSyncOptions:
        - ServerSideApply=true
        - RespectIgnoreDifferences=true
      ignoreDifferences:
    - name: dyndns
      namespace: dyndns
      path: dyndns
      enabled: true
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: keycloak
      namespace: identity
      path: identity/keycloak
      enabled: true
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: metrics-server
      namespace: metrics-server
      path: metrics-server
      enabled: true
    - name: nfs-subdir-external-provisioner
      namespace: nfs-subdir-provisioner
      path: nfs-subdir-external-provisioner
      enabled: true
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: oauth2-proxy
      namespace: oauth2-proxy
      path: oauth2-proxy
      enabled: true
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: prometheus-stack
      namespace: monitoring
      path: prometheus-stack
      enabled: true
      selfHeal: true
      ignoreDifferences:
        - group: apps
          kind: Deployment
          namespace: monitoring
          name: prometheus-stack-kube-state-metrics
          jqPathExpressions:
            - .spec.template.spec.containers[]?.resources
        - group: apps
          kind: Deployment
          namespace: monitoring
          name: prometheus-stack-grafana
          jqPathExpressions:
            - .spec.template.spec.containers[]?.resources
            - .spec.template.spec.initContainers[]?.resources
        - group: apps
          kind: DaemonSet
          namespace: monitoring
          name: prometheus-stack-prometheus-node-exporter
          jqPathExpressions:
            - .spec.template.spec.containers[]?.resources
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
      extraSyncOptions:
        - ServerSideApply=true
        - RespectIgnoreDifferences=true
      managedNamespaceMetadata:
        labels:
          pod-security.kubernetes.io/enforce: privileged
    - name: traefik
      namespace: traefik
      path: traefik
      enabled: true
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: node-feature-discovery
      namespace: node-feature-discovery
      path: node-feature-discovery
      enabled: true
      selfHeal: true
      extraSyncOptions:
        - RespectIgnoreDifferences=true
      ignoreDifferences:
        - group: apps
          kind: DaemonSet
          jsonPointers:
            - /spec/template/metadata/annotations
      managedNamespaceMetadata:
        labels:
          pod-security.kubernetes.io/enforce: privileged
    - name: intel-device-plugins-operator
      namespace: intel-device-plugins-operator
      path: intel-device-plugins-operator
      enabled: true
      selfHeal: true
      managedNamespaceMetadata:
        labels:
          pod-security.kubernetes.io/enforce: privileged
    - name: intel-gpu-plugin
      namespace: intel-gpu-plugin
      path: intel-gpu-plugin
      enabled: true
      selfHeal: true
      extraSyncOptions:
        - RespectIgnoreDifferences=true
      ignoreDifferences:
        - group: deviceplugin.intel.com
          kind: GpuDevicePlugin
          jsonPointers:
            - /spec/resourceManager
      managedNamespaceMetadata:
        labels:
          pod-security.kubernetes.io/enforce: privileged
    - name: snapshot-controller
      namespace: snapshot-controller
      path: snapshot-controller
      enabled: true
      selfHeal: true
      ignoreDifferences:
        - kind: Secret
          name: snapshot-validation-webhook-tls
          jsonPointers:
            - /data
    - name: external-secrets
      namespace: external-secrets
      path: external-secrets
      enabled: true
      selfHeal: true
      plugin:
        env:
          - name: SOPS_SECRET_FILE
            value: secret.sec.yaml
    - name: kubelet-csr-approver
      namespace: kube-system
      path: kubelet-csr-approver
      enabled: true
      selfHeal: true
    - name: volsync
      namespace: volsync
      path: volsync
      enabled: true
      selfHeal: true
    - name: talos-backup
      namespace: talos-backup
      path: talos-backup
      enabled: true
      selfHeal: true
