---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: argocd

namespace: argocd

# additional resources like ingress rules, cluster and repository secrets.
resources:
  - resources/ingress.yaml
  - https://github.com/argoproj/argo-cd/manifests/cluster-install?ref=v2.12.5
  - resources/app-of-apps.yaml
  - resources/repository.yaml
  - resources/sops-replacer-plugin.yaml
  - resources/metrics.yaml

# changes to config maps
patches:
  - path: patches/argocd-cm.yaml
  - path: patches/argocd-rbac-cm.yaml
  - path: patches/argocd-cmd-params-cm.yaml
  - path: patches/argo-cd-repo-server-ksops-patch.yaml
  - path: patches/argocd-secret.yaml
